@charset "UTF-8";
/*  Mobile first */

@media all {
    
:root {
    --cor1: #000000;
    --cor2: #ffffff;
    --cor4: #3C3D40;

}

* {
    margin: 0px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: #000000;
    background-attachment: fixed;
    height: 15vh;
    width: 100vw;


}

header>h1 {
    text-align: center;
    padding: 17px;
    color: white;
}

header>p {
    text-align: center;

    color: white;
    margin-top: 0%;
}

i#burguer {
    margin-top: 17px;
    color: #ffffff;
    display: block;
    
}

i#burguer:hover {
    cursor: pointer;
}

menu {
    display: none;
    width: 25vw;
    top: 15.4%;
    border-radius: 0px 0px 12px 0px;

    background-color: #000000;
    backface-visibility: hidden ;
    position: absolute;
   

}

menu>ul {
    list-style-type: 'circle';
    list-style-position: inside;
    margin-left: 0px;
    

}

menu>ul>li {
    width: 95%;
    border-radius: 10px;
    background-color: #0b0b0b;
    display: block;
    margin: 0px 0px 3px 0px;



}

menu>ul>li>a {

    display: block;
    background-image: url('../img/foto.jpg');
    text-decoration: none;
    color: white;
    margin: 0%;

    padding: 4px;


}


main {
    height: auto;
    width: 92vw;
    margin: auto;
    margin-top: 0%;
}

main>section>h2 {
    text-align: center;
    margin: 4% 0% 4% 0%;
}

main>section>p {
    margin-bottom: 4%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

main>section>img {
    width: 60vw;
   
    box-shadow: 2px 2px rgba(0, 0, 0, 0.307);
}

section#lista>ol,
ul {
    margin-left: 7%;
    padding: 5% 0%;
}



 section#link > p > a {
 
    text-decoration: none;
    

}

main > section#link > p > a:hover {
    text-decoration: underline;
}
section#pag2 > p > a {
    text-decoration: none;
}
section#pag2 > p > a:hover {
    text-decoration: underline;
}


footer {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 1px dashed black;
    height: 60px;
    width: 100%;
    margin-top: 5%;
    background-color: black;
    display: block;
    
}
footer > p{
    color: white;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.377);
    font-weight: bolder;
    font-size: .8em;
    text-align: right;
    margin: 9% 1% 0px 0px;
}
}