@charset "UTF-8";

:root {
    --cor1: #8C8C88;
    --cor2: #666A73;
    --cor3: #D7D7D9;
    --cor4: #3C3D40;

}

* {
    margin: 0px;
    padding: 0%;
}

header {
    background-color: var(--cor4);
    height: 12vh;
    text-align: center;
}

header > h1{
    padding: 3px;
    color: white;
}

header > p{
    color: white;
    margin-top: 3%;
}
main{
    height: 100vh;
    width: 80vw;
    background-color: #8C8C88;
    margin: auto;
    margin-top: 2%;
}