@charset "UTF-8";

:root {
    --cor1: #000000;
    --cor2: #ffffff;
    --cor4: #3C3D40;

}

* {
    margin: 0px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-image: linear-gradient(to right, #011F26, #024655);
    background-attachment: fixed;
    height: auto;
    width: 100vw;



}

header>h1 {
    text-align: center;

    padding: 3px;
    color: white;
}

header>p {
    text-align: center;

    color: white;
    margin-top: 0%;
}

i#burguer {

    color: #ffffff;

}

i#burguer:hover {
    cursor: pointer;
}

menu {
    display: none;
    width: 25vw;
    background-color: white;
    margin: 0px;

}

menu>ul {
    list-style-type: 'circle';
    list-style-position: inside;
    margin-left: 0px;

}

menu>ul>li {
    width: 25vw;
    border-radius: 4px;
    display: block;
    margin: 0px 1px 1px 0px;



}

menu>ul>li>a {

    display: block;
    background-image: url('../img/foto.jpg');
    text-decoration: none;
    color: #ffffff;

    padding: 4px;


}

menu>ul>li>a:hover {
    text-decoration: underline;


}


main {
    height: auto;
    width: 92vw;
    margin: auto;
    margin-top: 0%;
}

main>section>h2 {
    text-align: center;
    margin: 4% 0% 4% 0%
}

main>section>p {
    margin-bottom: 4%;
}

main>section>img {
    width: 60vw;
   

    border-radius: 311px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.307);
}

section#lista>ol,
ul {
    margin-left: 7%;
    padding: 5% 0%;
}

main>section>div#humilho {
    position: relative;
    display: block;
    width: 60%;
    height: 30vh;
    background-image: url('../img/maracana.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.307);
}

main>section>div#humilho>a {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    font-size: 1.6em;
    text-shadow: 2px 1px black;

    color: #ffffff;

    transform: translate(-50%, -50%);

}

main>section>div#humilho>a:hover {
    text-decoration: underline;
}

footer {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 1px dashed black;
    height: 60px;
    width: 100%;
    margin-top: 5%;
    background-color: white;
    display: block;
    color: rgb(99, 99, 99);
    font-size: 1em;
}